<% provide(:title, "Home") %>

<div class="center fumbotron">
  <div class="bg-mask">
    <h1>趣味友探し</h1>
    <p>さぁ、共通の趣味の人を見つけて仲良くなろう！</p>
  
  <%= link_to "sign up", "#", class: "btn btn-lg btn-primary" %>
  </div>
</div>


  
