<% provide(:title, "Home") %>

<div class="center jumbotron jumbotron-fluid">
  <div class="container bg-mask">
    <h1 class="display-4">趣味友探し</h1>
    <p>さぁ、共通の趣味の人を見つけて仲良くなろう！</p>
  
  <%= link_to "sign up now!", signup_path, class: "btn btn-lg btn-primary btn-custom-margin" %>
  </div>
</div>


  
