@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  padding-top: 60px;
  width: 100%;
}

section{
  overflow: auto;
}

textarea{
  resize: vertical;
}

.fumbotron{
    background: url(manaka.jpg);
    background-size: cover;
    //.jumbotron { background:url(main.jpg) center no-repeat; background-size: cover;}
    margin: 0, auto;
}

.bg-mask {
  height: 100%;
  background: rgba(255,235,235,0.6);
}

.center{
  text-align: center;
}

.center h1{
  margin-bottom: 20px;
}

.bg-mask p{
    margin-bottom: 500px;
}

/* typography */
h1, h2, h3, h4, h5, h6{
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
}