<footer>
  <div class="container">
    <nav>
      <ul>
        <li class="nav-item"><%= link_to "about", about_path, class: "nav-link" %></li>
        <!-- <li><%= link_to "contact", contact_path %></li> -->
        <li><%= link_to "help", help_path, class: "nav-link" %></li>
      </ul>
    </nav>
  </div>
</footer>